.markdown-source-view .tip::before,
.markdown-preview-view .tip::before {
  content: "Примечание";
  font-weight: 500;
}

.tip {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin: 1em 0;
  background-color: hsl(180, 25%, 50%, 20%);
  border: hsl(180, 25%, 50%, 50%) solid 1px;
}